:root {
  /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    */

    /* Page Variables */
    --dark-purple: #520741;
}

body, html, .App {
  height: 100%;
  margin: 0;   
  display: block;
}

.site-main {
  background: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  background-position: center;
  color: white;
  padding: 0px;
}
.site-nav {
  background-color: var(--dark-purple);
  padding: 10px;

}
.nav-links {
  align-items: center;
  justify-content: center;
}

.site-nav-link {
  color: white;
}
.site-nav-link a:hover {
  text-decoration: none;
}

.nav-logo {
  filter: invert(0.8);
  height: 44px;
}

.logo-wrapper:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px yellow;
  text-decoration: none;
}

.nav-title {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 1.50em;
}
